<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringIntegrationFlowWebfluxApp" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-integration-flows" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="daggerok.webflux.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <option name="SPRING_BOOT_MAIN_CLASS" value="daggerok.webflux.SpringIntegrationFlowWebfluxApp" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>